{{template "base" .}}

{{define "title"}}Snippet #{{.Snippet.ID}}{{end}}

{{define "body"}}
    {{with .Snippet}}
        <div class="snippet">
            <div class="metadata">
                <strong>{{.Snippet.Title}}</strong>
                <strong>#{{.Snippet.ID}}</strong>
            </div>
            <pre><code>{{.Snippet.Content}}</code></pre>
            <div class="metadata">
                <time>{{.Snippet.Created}}</time>
            </div>
        </div>
    {{end}}
{{end}}
