{{template "base" .}}

{{define "title"}}Snippet #{{.Snippet.ID.Hex}}{{end}}

{{define "body"}}
    {{with .Snippet}}
        <div class="snippet">
            <div class="metadata">
                <strong>{{.Title}}</strong>
                <strong>#{{.ID.Hex}}</strong>
            </div>
            <pre><code>{{.Content}}</code></pre>
            <div class="metadata">
                <time>{{humanDate .Created}}</time>
            </div>
        </div>
    {{end}}
{{end}}
